
    @{
        Layout = null;
    }

    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Directions service (complex)</title>
        <style>
                    /* Always set the map height explicitly to define the size of the div
                    * element that contains the map. */
                    #map {
                        height: 100%;
                    }
                    /* Optional: Makes the sample page fill the window. */
                    html, body {
                        height: 100%;
                        margin: 0;
                        padding: 0;
                    }
                        </style>
</head>

                     <body > <div id="map" > </div > 
        <script >
            function initMap() {
                // More
            }
            var broadway = {
                info: '<strong>The Gig</strong><br>\
					1132 E Wright St, Milwaukee, WI 53212<br>\
					<a href="https://goo.gl/maps/ZkuZwuiHn812">Get Directions</a>',
                lat: 43.063935,
                long: -87.896871
            };
            var locations = [
  [broadway.info, broadway.lat, broadway.long, 0],
  [belmont.info, belmont.lat, belmont.long, 1],
  [sheridan.info, sheridan.lat, sheridan.long, 2],
            ];
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: new google.maps.LatLng(43.063935, -87.896871),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var infowindow = new google.maps.InfoWindow({});

            var marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
            function initMap() {

                var broadway = {
                    info: '<strong>The Gig</strong><br>\
					1132 E Wright St, Milwaukee, WI 53212<br>\
					<a href="https://goo.gl/maps/ZkuZwuiHn812">Get Directions</a>',
                    lat: 43.063935,
                    long: -87.896871
                };

                var belmont = {
                    info: '<strong>Riverwest Pizza</strong><br>\
					53212, 930 E Wright St, Milwaukee, WI 53212<br>\
					<a href="https://goo.gl/maps/xnX2uKvajnK2">Get Directions</a>',
                    lat: 43.063997,
                    long: -87.899367
                };

                var sheridan = {
                    info: '<strong>Bremen Cafe</strong><br>\r\
					901 E Clarke St, Milwaukee, WI 53212<br>\
					<a href="https://goo.gl/maps/mCPjun8R7Pp">Get Directions</a>',
                    lat: 43.063935,
                    long: -87.900200
                };

                var locations = [
                  [broadway.info, broadway.lat, broadway.long, 0],
                  [belmont.info, belmont.lat, belmont.long, 1],
                  [sheridan.info, sheridan.lat, sheridan.long, 2],
                ];

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: new google.maps.LatLng(43.063935, -87.896871),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var infowindow = new google.maps.InfoWindow({});

                var marker, i;

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map
                    });

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }
                    </script >
         <script src="script.js" > </script > <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv1R1UJZIPVsVp5GioBCm1vJvoF4qMZEY&callback=initMap" > </script > </body > </html >
