@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Waste Not Want Not </h1>
    <h3>Trash Collectors</h3>
    <p class="lead">Changing the way you think about your garbage.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Trash Pickup and Recycling</h2>
        <p>
            One man's garbage is another man's treasture. We offer trash pickup and seperation, so you donn't have to think about which bin you throw things in.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Recycling</h2>
        <p>Feel like keeping the earth a better place. We offer recycling options to fit your needs.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Trash Pickup</h2>
        <p>Sometime all you need is someone to pick up your garbage. We are here to help.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>